.card-wrapper {
	width: 300px;
	height: 300px;
	border: 1px solid black;
	border-radius: 30px;

	padding: 0 5px;
}

img {
	height: 150px;
	width: fit-content;
}

.promo-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 200px;
	height: fit-content;
}
